doctype html
html(lang='en-US')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Zilla+Slab')
    link(rel='shortcut icon' type='image/png' sizes="196x196" href='/favicon.png')

  body
    header
      nav
        ul
          li
            a(href='#repos') Newest Repositories
          li
            a(href='#wiki') Latest Wiki Edits
          li
            a(href='https://github.com/mozillach/mozilla-watcher/') Contribute

    h1 Latest&nbsp;
      span.logo mozilla
      span &nbsp;Project Updates

    .container
      .col
        h2#repos Newest Repositories
        table
          thead
            tr
              th Created
              th Name
              th Organization
              th Description
          tbody
            each repo in repos
              tr
                td
                  time(datetime=repo.creation_date)
                    = new Date(repo.creation_date).toLocaleDateString()
                td
                  a(href='' + repo.html_url, target='_blank')
                    = repo.name
                td
                  a(href='' + repo.owner_html_url, target='_blank')
                    = repo.org
                td= repo.description

      .col
        h2#wiki Latest Wiki edits
        table
          thead
            tr
              th Changed on
              th Title
              th User
          tbody
            each edit in wikiEdits
              tr
                td
                  time(datetime=edit.change_date)
                    = new Date(edit.change_date).toLocaleDateString()
                td
                  a(href='https://wiki.mozilla.org/' + edit.name, target='_blank')
                    = edit.name
                td= edit.user

    script(async, defer, data-website-id="98e232ff-4505-4682-a83b-f7ebdcc5ea09", data-domains='watcher.michaelkohler.info', data-do-not-track='true', src='https://view.michael.network/umami.js')
