extends layout

block content
  h1= title

  h2 Newest Repositories
  table
    thead
      tr
        th Created at
        th Name
        th Organization
        th Description
    tbody
    - each repo in repos
      tr
        td= new Date(repo.created_at)
        td= repo.name
        td= repo.owner.login
        td= repo.description
  
  h2 Latest Wiki edits
  ul
    - each edit in wikiEdits
      li= edit
